<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Synchronized Slider</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // sending a connect request to the server.
            var socket = io.connect('http://127.0.0.1:5000');

            socket.on('lobby', function (data) {
                console.log(data);
                console.log('lobby received')
            });

            const createLobbyButton = document.getElementById('createLobby');
            createLobbyButton.onclick = () => {
                socket.emit('create_lobby')
            }
        });
    </script>
</head>

<body>
    <div class="container text-center">
        <p>test</p>
        <button id='createLobby'>create lobby</button>
        <button>view lobby</button>
        <button>join lobby</button>
        <button>leave lobby</button>
    </div>
</body>

</html>